<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/alarm.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/read_text.js"></script>
    <script src="/javascripts/alarm_show.js"></script>

	<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');     
    </style>
    <title><%= title %></title>	
</head>
<body style="overflow-y: hidden;overflow-x: hidden;">
<div class="container-fruid">
    <!-- ヘッダー -->
    <header>
    <div class="row" style="background-color: orange; height: 28px;">
        <div class="col-sm-12 m-0 p-0">
            <div><%- include('header_content'); %></div>
        </div>
    </div>
    </header>
    <!-- メイン -->
    <main>
    <div class="row">
        <div class="col-sm-12" style="border: 1px solid darkblue;">
            <div><%- include('alarm_content'); %></div>
        </div>
    </div>
    </main>
    <!-- フッター -->
    <footer>
    <div class="row">
        <div class="col-sm-12" style="border: 1px solid darkblue;">
            <div><%- include('footer_content'); %></div>
        </div>
    </div>
    </footer>
</div><!--containerの終わり-->
</body>
</html>