<!--(1段目)警報-->
<div class="row alarm_main m-0 pt-2 pX-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_10">非常停止</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_11">PLC異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_12">計算機ﾘﾝｸﾕﾆｯﾄ異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_13">CC-Linkユニット異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_14">プリンタ通信異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_15">Web通信異常</div>
</div>
</div>
<!--(2段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_20">ミキサ計量器通信異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_21">原料４計量器通信異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_22">原料５計量器通信異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_23">ミキサ過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_24">給水ポンプ１過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_25">給水ポンプ２過負荷</div>
</div>
</div>
<!--(3段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_30">アジテータ過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_31">コンプレッサ過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_32">原料４過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_33">原料５過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_34">洗浄水ポンプ過負荷</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_35">エア圧低下</div>
</div>
</div>
<!--(4段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_40">逆相検出</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_41">給水弁１異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_42">給水弁２異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_43">ミキサ排出弁１異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_44">ミキサ排出弁２異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_45">原料４排出弁異常</div>
</div>
</div>
<!--(5段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_50">原料５投入弁異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_51">原料５排出弁異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_52">水計量タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_53">ベントナイト計量タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_54">セメント計量タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_55">原料４計量タイムアップ</div>
</div>
</div>
<!--(6段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_60">原料５計量タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_61">原料４投入タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_62">原料５投入タイムアップ</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_63">ミキサ付着異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_64">原料４付着異常</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_65">原料５付着異常</div>
</div>
</div>
<!--(7段目)警報-->
<div class="row alarm_main m-0 p-0">
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_70">SDカード未装着</div>
</div>
<div class="col-sm-2 px-0">
  <div class="alarm_content" id="alarm_71">PLCバッテリ低下</div>
</div>
<div class="col-sm-2 px-0">
  <div id="alarm_72"></div>
</div>
<div class="col-sm-2 px-0">
  <div id="alarm_73"></div>
</div>
<div class="col-sm-2 px-0">
  <div id="alarm_74"></div>
</div>
<div class="col-sm-2 px-0">
  <div id="alarm_75"></div>
</div>
</div>
<hr>
<h4>アラーム履歴</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">日時</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2020/10/05 10;19</td>
      <td>○×異常</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2020/10/05 10:20</td>
      <td>○×異常</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>2020/10/05 10:21</td>
      <td>○×異常</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>2020/10/05 10:22</td>
      <td>○×異常</td>
    </tr>
      </tbody>
</table>
