<div class="col-sm-12">
  <div class="px-0 pt-0 mt-0" style="font-size: 16px;text-align: center;">
    <div><a id="footer_link" href="https://daitokikai.co.jp/">Copyright © 2020 DAITOKIKAI Co.,Ltd. All Rights Reserved.</a></div>
  </div>
</div>