<div class="row">
  <div class="col-sm-3 h-25" id="menu_title">
    <div class="px-0 py-0 mx-0 my-0">
      DMS1500 Remote monitor
    </div>
  </div>
  <div class="col-sm-3 h-25 px-0 py-0 mx-0 my-0">
  </div>
  <div class="col-sm-6 h-25 px-0 py-0 mx-0 my-0">
    <ul>
      <li><a href="monitor">モニタ</a></li>
      <li><a href="setting">設定</a></li>
      <li><a href="operation">操作</a></li>
      <li><a href="logdata">ロギング</a></li>
      <li><a href="alarm">警報</a></li>
      <li><a href="users/logout">ログアウト</a></li>
      <li><a href="users/admin">アカウント管理</a></li>
    </ul>
  </div>
</div>