<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/monitor_show.css">
  <link rel="stylesheet" href="/stylesheets/monitor_draw.css">
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/read_text.js"></script>
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');     
  </style>
  <title><%= title %></title>	
</head>
<body style="overflow-x: hidden;overflow-y: hidden;">
<div class="container-fruid">
    <!-- ヘッダー -->
    <header>
    <div class="row" style="background-color: orange; height: 28px;" >
        <div class="col-sm-12 m-0 p-0">
          <div class="row">
            <div class="col-sm-3 h-25" id="menu_title">
              <div class="px-0 py-0 mx-0 my-0">
                DMS1500 Remote monitor
              </div>
            </div>
          </div>
        </div>
    </div>
    </header>
    <!-- メイン -->
    <main>
    <div class="row">
      <div class="col-sm-12">
          <p style="font-size: 30px;text-align: center;">ログイン</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-2 mt-5 mb-5">
        <form action="/" method="post">
          <div class="form-group">
            <lavel for "userID">ID</lavel>
            <input type="text" class="form-control" id="user_id" name="userID">
            <br>
            <lavel for "userPass">パスワード</lavel>
            <input type="password" class="form-control" id="user_pass" name="userPass">
            <label for "userMessage">メッセージ</label>
            <input type="text" class="form-control" id="user_message" name="userMessage">

            <br>
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
    <hr>
    <p><%= data %></p>
    <ol>
      <% for(let i in message){%>
        <li><%- message[i] %></li>
      <% } %>
    </ol>
    <!-- BLANK -->
    <div class="row my-5 py-5">
      <div class="col-sm-12 my-2 py-5" height="230px">
        <div style="color: white;">BLANK</div>
      </div>
    </div>
    </main>
    <!-- フッター -->
    <footer>
    <div class="row">
        <div class="col-sm-12 mt-5" style="border: 1px solid darkblue;">
            <div><%- include('footer_content'); %></div>
        </div>
    </div>
    </footer>
</div><!--containerの終わり-->
</body>
</html>