<!-- １段目 -->
<div class="row mt-2">
    <div class="col-sm-12 m-0 p-0">
        <!-- アラート -->
        <div class="alert alert-warning alert-dismissible fade show my-0 py-1" role="alert">
            <!--canvasが使えないときの処理-->
            <span class="text-danger">This is alert area!<br>
            any...</span>
            <button class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
</div>
<!-- ２段目 -->
<div class="row mt-3">
    <div class="col-sm-2 m-0 p-0">
        <!-- (1)セメントサイロA -->
        <canvas id="canvas_cement_sailoA" width="83" height="121">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-2 m-0 p-0">
        <!-- (2)セメントサイロB -->
        <canvas id="canvas_cement_sailoB" width="83" height="121">
            <!--canvasが使えないときの処理-->
            Canvas not supporte
        </canvas>
    </div>
    <div class="col-sm-2 m-0 p-0">
        <!-- (3)ベントナイトサイロ -->
        <canvas id="canvas_bent_sailo" width="83" height="121">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-6 m-0 p-0">
        <!-- (4) -->
        <div class="row m-0 p-0">
            <div class="col-sm-6 m-0 p-0">
                <!-- (4)-1-->
                <canvas class="canvas_blank" width="125" height="58">
                    <!--canvasが使えないときの処理-->
                    Canvas not supporte
                </canvas>
            </div>
            <div class="col-sm-6 m-0 p-0">
                <!-- (4)-2-->
                <canvas class="canvas_blank" width="124" height="58">
                    <!--canvasが使えないときの処理-->
                    Canvas not supporte
                </canvas>
            </div>
        </div>
        </canvas>
        <div class="row m-0 p-0">
            <div class="col-sm-6 m-0 p-0">
                <!-- (4)-3 原料4ポンプ-->
                <canvas id="canvas_gn4_p" width="125" height="57">
                    <!--canvasが使えないときの処理-->
                    Canvas not supporte
                </canvas>
            </div>
            <div class="col-sm-6 m-0 p-0">
                <!-- (4)-4 原料5ポンプ-->
                <canvas id="canvas_gn5_p" width="124" height="57">
                    <!--canvasが使えないときの処理-->
                    Canvas not supporte
                </canvas>
            </div>
        </div>
        </canvas>
    </div>
</div>
<!-- ３段目 -->
<div class="row mt-3">
    <div class="col-sm-2 m-0 p-0">
        <!-- (1) -->
        <canvas class="canvas_blank" width="83" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-2 m-0 p-0">
        <!-- (2) -->
        <canvas class="canvas_blank" width="83" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-2 m-0 p-0">
        <!-- (3) -->
        <canvas class="canvas_blank" width="83" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-3 m-0 p-0">
        <!-- (4) -->
        <canvas class="canvas_blank" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (5) -->
    <div class="col-sm-3 m-0 p-0">
        <!-- 原料5投入弁 -->
        <canvas id="canvas_gn5_tonyu" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>
<!-- ４段目 -->
<div class="row mt-0">
    <!-- (1) -->
    <div class="col-sm-2 m-0 p-0">
        <canvas class="canvas_blank" width="125" height="58">
            <!--canvasが使えないときの処理-->
            Canvas not supporte
        </canvas>
    </div>
    <!-- (2)給水ポンプ１ -->
    <div class="col-sm-2 m-0 p-0">
        <canvas id="canvas_w_p1" width="83" height="80">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (3)給水ポンプ２ -->
    <div class="col-sm-2 m-0 p-0">
        <canvas id="canvas_w_p2" width="83" height="80">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (4)原料4ビン -->
    <div class="col-sm-3 m-0 p-0">
        <canvas id="canvas_gn4_bin" width="125" height="80">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (5)原料5ビン -->
    <div class="col-sm-3 m-0 p-0">
        <canvas id="canvas_gn5_bin" width="125" height="80">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>
<!-- ５段目 -->
<div class="row mt-0">
    <div class="col-sm-2 m-0 p-0">
        <!-- (1) -->
        <canvas class="canvas_blank" width="83" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-2 m-0 p-0">
        <!-- (2) -->
        <canvas class="canvas_blank" width="83" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
        <!-- (3) -->
        <div class="col-sm-2 m-0 p-0">
            <canvas class="canvas_blank" width="83" height="40">
                <!--canvasが使えないときの処理-->
                Canvas not supported.
            </canvas>
        </div>
        <!-- (4) -->
        <div class="col-sm-3 m-0 p-0">
            <canvas id="canvas_gn4_haisyutsu" width="125" height="40">
                <!--canvasが使えないときの処理-->
                Canvas not supported.
            </canvas>
        </div>
    <!-- (5) -->
    <div class="col-sm-3 m-0 p-0">
        <canvas id="canvas_gn5_haisyutsu" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>
<!-- ６段目【ミキサ】 -->
<div class="row mt-0" style="border:1px solid blue;">
    <div class="col-sm-3 m-0 p-0">
        <!-- (1) -->
        <canvas class="canvas_blank" width="125" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (2)ミキサー -->
    <div class="col-sm-6 m-0 p-0">
        <canvas id="canvas_mixer" width="252" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (3) -->
    <div class="col-sm-3 m-0 p-0">
        <canvas class="canvas_blank" width="125" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>
<!-- ７段目【排出弁】-->
<div class="row mt-0" style="border:1px solid blue;">
    <div class="col-sm-3 m-0 p-0">
        <!-- (1) -->
        <canvas class="canvas_blank" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (2)ミキサー排出弁1 -->
    <div class="col-sm-3 m-0 p-0">
        <canvas id="canvas_mixer_haisyutsu1" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <div class="col-sm-3 m-0 p-0">
        <!-- (3)ミキサー排出弁2 -->
        <canvas id="canvas_mixer_haisyutsu2" width="125" height="40">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (4) -->
    <div class="col-sm-3 m-0 p-0">
        <canvas class="canvas_blank" width="125" height="40";>
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>
<!-- ８段目【アジテータ】 -->
<div class="row mt-0" style="border:1px solid blue;">
    <div class="col-sm-3 m-0 p-0">
        <!-- (1) -->
        <canvas class="canvas_blank" width="125" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (2)ミキサー -->
    <div class="col-sm-6 m-0 p-0">
        <canvas id="canvas_agitator" width="252" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
    <!-- (3) -->
    <div class="col-sm-3 m-0 p-0">
        <canvas class="canvas_blank" width="125" height="100">
            <!--canvasが使えないときの処理-->
            Canvas not supported.
        </canvas>
    </div>
</div>