<!-- 【モニタ：１段目】 -->
<div class="row monitor_main m-0 pt-2">
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_10">ミキサ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_11">アジテータ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_12">給水ポンプ１</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_13">給水ポンプ２</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_14">原料４</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_15">原料５</div>
  </div>
</div><!-- //【モニタ：１段目終了】 -->
  
<!-- 【モニタ：２段目】 -->
<div class="row monitor_main m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_20">コンプレッサ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_21">給水弁１</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_22">給水弁２</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_23">排出弁</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_24">セメントサイロＢ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_25">セメントサイロＡ</div>
  </div> 
</div><!-- //【モニタ：２段目終了】 -->

<!-- 【モニタ：３段目】 -->
<div class="row monitor_main m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_30">ベントナイトサイロ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_31">洗浄ポンプ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_32">サイロＡ使用</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_33">サイロＢ使用</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_34">アジテータ満</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_35"></div>
  </div> 
</div><!-- //【モニタ：３段目終了】 -->

<!-- 【モニタ：４段目】 -->
<div class="row monitor_main m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_40">手動</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_41">自動</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_42">自動可</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_43">配合Ａ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_44">配合Ｂ</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_45">配合Ｃ</div>
  </div> 
</div><!-- //【モニタ：４段目終了】 -->

<!-- 【モニタ：５段目】 -->
<div class="row monitor_main m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_50">自動計量</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_51">一時停止</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_52"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_53"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_54"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div class="monitor_content" id="lamp_55"></div>
  </div> 
</div><!-- //【モニタ：５段目終了】 -->

<!-- 【配合：銘柄】 -->
<div class="row monitor_main mt-2 m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara_title">銘柄</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara10">水</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara11">セメント</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara12">ベントナイト</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara13">原料４</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="meigara14">原料５</div>
  </div>  
</div><!-- //【配合：名称終了】 -->

<!-- 【配合：設定値(kg)】 -->
<div class="row monitor_main mt-0 m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="settei_title">設定値(kg)</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="haigo_settei_10"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="haigo_settei_11"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="haigo_settei_12"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="haigo_settei_13"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="haigo_settei_14"></div>
  </div>  
</div><!-- //【配合：設定値(kg)終了】 -->

<!-- 【配合：計量(kg)】 -->
<div class="row monitor_main mt-0 m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="keiryo_title">計量値(kg)</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="h1_keiryo"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="h2_keiryo"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="h3_keiryo"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="h4_keiryo"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="h5_keiryo"></div>
  </div>  
</div><!-- //【配合：計量値(kg)終了】 -->

<!-- 【配合：重量(kg)】 -->
<div class="row monitor_main mt-0 m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="mixer_title">ミキサ重量(kg)</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="mixer_juryo"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="genryo4_title">原料４重量(kg)</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="genryo4_juryo"></div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="genryo5_title">原料５重量(kg)</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="genryo5_juryo"></div>
  </div>  
</div><!-- //【配合：重量(kg)終了】 -->

<!-- 【配合：バッチ】 -->
<div class="row monitor_main mt-2 m-0 p-0">
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="settei_batch_title">設定バッチ数</div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="settei_batch"></div>
  </div> 
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="genzai_batch_title">現在バッチ数</div>
  </div>  
  <div class="col-sm-2 px-0 monitor_sub">
    <div id="sokutei_batch"></div>
  </div>  
</div><!-- //【配合：バッチ終了】 -->

<!-- 左下段エリア(1) -->
<div class="row px-0 mt-0 p-0">
  <div class="col-sm-12 py-2 px-0">
  <div style="color: white;">BLANK</div>
  </div>
</div>
<!-- 左下段エリア(2) -->
<div class="row px-0 mt-0 p-0">
  <div class="col-sm-12 py-2 px-0">
  <div style="color: white;">BLANK</div>
  </div>
</div>
<!-- 左下段エリア(3) -->
<div class="row px-0 mt-0 p-0">
  <div class="col-sm-12 py-2 px-0">
  <div style="color: white;">BLANK</div>
  </div>
</div>
<!-- 左下段エリア(4) -->
<div class="row m-0 t-0">
  <div class="col-sm-2">
    <div style="color: white;">BLANK</div>
  </div>
  <div class="col-sm-2">
    <div style="color: white;">BLANK</div>
  </div>
  <div class="col-sm-2">
    <div style="color: white;">BLANK</div>
  </div>
  <div class="col-sm-2">
    <div style="color: white;">BLANK</div>
  </div>
</div>  