<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- ダミー行 -->
      <div style="height:6px;background-color:white;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像1</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像2</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像3</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像4</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像5</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:90px;background-color: grey;">画像6</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像7</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像8</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像9</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像10</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像11</div>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像12</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <canvas id="canvas_agitator" width="200" height="113">
        <!--canvasが使えないときの処理-->
        Canvas not supported.
      </canvas>
    </div>
    <div class="col-sm-4">
      <canvas id="canvas_mixer" width="200" height="113">
        <!--canvasが使えないときの処理-->
        Canvas not supported.
      </canvas>
    </div>
    <div class="col-sm-4">
      <div style="border: 1px solid gray; width:200px;height:113px;background-color: grey;">画像3</div>
      <canvas id="PPP" width="180" height="113">
        
        <!--canvasが使えないときの処理-->
        Canvas not supported.
      </canvas>
    </div>
  </div>
</div>