@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction:column;
}
.pass_error{
  color: red;
}
/* メニューコンテナ*/
.menu_container{
  padding: 0 5px 0 5px;
  display: grid;
  grid-template-columns: 350px 1fr 300px;
  grid-row: 28px;
  background-color:orange;
}

/* (2)メインコンテナ */
.main_container{
  flex: 1;/* 縦方向に対して*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 76px 76px 250px 24px 1fr;
  margin: 0 auto 0 auto;
}

/* (2A)上段ランプ */
.main_container .lamp_up{
  display: grid;
  grid-template-columns: repeat(7,120px);
  grid-template-rows: 32px 32px;
  text-align: center;
  margin-top: 5px;
  /* padding: 2px 0 0 0; */
}

/* (2B)下段ランプ */
.main_container .lamp_down{
  display: grid;
  grid-template-columns: repeat(7,120px);
  grid-template-rows: 32px 32px;
  text-align: center;
}

.main_container .lamp_up div{
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 18px;
  padding:2px 0 0 0;

}
.main_container .lamp_down div{
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 18px;
  padding:2px 0 0 0;
}

/* (2C)モニタ*/
.main_container .monitor{
  display:grid;
  grid-template-columns: 360px 120px 120px;
  gap: 120px;
}

/* (2C-A)配合*/
.main_container .haigo{
  display:grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  /* background-color: greenyellow; */
  text-align: center;
  /* margin-right: 25px; */
}
.main_container .haigo > div{
  border: 1px solid white;
}
/* (2C)-2重量*/
.main_container .juryo{
  display:grid;
  grid-template-columns: 120px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  /* background-color: greenyellow; */
  text-align: center;
  /* margin-right: 25px; */
}

.main_container .juryo > div{
  border: 1px solid white;
}
/* (2C)-3バッチ*/
.main_container .batch{
  display:grid;
  grid-template-columns: 120px;
  grid-template-rows: 40px 40px 40px 40px;
  /* background-color: greenyellow; */
  text-align: center;
}
.main_container .batch > div{
  border: 1px solid white;
}
.monitor_title{
  font-size: 18px;
  background-color: gray;
  color: white;
  padding-top: 4px;
}

#meigara1,#meigara2,#meigara3,#meigara4,#meigara5{
  font-size: 18px;
  background-color: lightgreen;
  padding-top: 6px;
}
#h1_settei,#h2_settei,#h3_settei,#h4_settei,#h5_settei{
  font-size: 28px;
  background-color: green;
  color: white;
  padding-left:25px;
}
#h1_keiryo,#h2_keiryo,#h3_keiryo,#h4_keiryo,#h5_keiryo{
  font-size: 28px;
  background-color: blue;
  color: white;
  padding-left: 25px;
}
#mix_juryo,#gn4_juryo,#gn5_juryo{
  font-size: 28px;
  background-color: blue;
  color: white;
  padding-left: 25px;
}
#batch_settei{
  font-size: 28px;
  background-color: green;
  color: white;
  padding-left: 25px;
}
#batch_sokutei{
  font-size: 28px;
  background-color: blue;
  color: white;
  padding-left: 25px;
}

/* (2D)イメージ*/

/* フッターコンテナ*/
.footer_container{
  width: 100%;
  /* height : 20px; ・・・スクロールバーが出てしまう。*/
  margin:0px auto 0px auto;
  background-color:orange;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

#canvas_agitator{
  background-color: lightgray;
  border: 1px solid black;
}
#canvas_mixer{
  background-color: lightgray;
  border: 1px solid black;
}
.canvas_draw{
  display:grid;
  grid-template-columns: 200px 200px;
}