@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
html{
  height: 100%;
}
body {
  padding: 0 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction:column;
}
#menu_title{
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 2px 50px 0px 30px;
  box-align: center;

}  ul{
  display: flex;
}

ul li{
  list-style: none; 
  /* padding: 0px 10px; */
}

ul li a{
  display: block;
  font-size: 18px;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  /* width: 120px;   */
  text-align: center;
}
ul li a:visited{
  color: white;
}
ul li a:hover{
  color:orange;
  background-color: white;
  text-decoration: none;
}
#footer_link{
  color:black;
  background-color: white;
}
#footer_link:visited{
  color:black;
  background-color: white;
}
#footer_link:hover{
  color:blue;
  background-color: pink;
}